<div class="background">
  <div class="login-page">
        <div class="form">
          <div class="login">
            <div class="login-header">
              <h3>LOGIN</h3>
              <p>Please enter your credentials to login.</p>
            </div>
          </div>
          <div class="login-form">
            <input type="text" [(ngModel)]="userLogin"  placeholder="Login.." id="login"/>
            <input type="password" [(ngModel)]="userPassword"  placeholder="Password.." id="password"/>

            <p class="inputError" *ngIf="badLoginOrPassword"><i class="bi bi-exclamation-triangle-fill"></i> Login or password incorrect</p>
            <button (click)="TryLogin()">login</button>
            <p class="message">Not registered? <a href="/account">Create an account</a></p>
          </div>
        </div>
  </div>
</div>
