
<style>
    h2{text-align: right;}
    h3{text-align: center;}
</style>

<div class="divider"></div>

<div class="container mb-3">
    <ul class="list-group" style="background-color: white">
        <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let request of requests ;">
            <div class="me-lg-auto">
                <h3 >{{ request.item.title}}  </h3>
                <div > {{ request.item.description }}</div> 
              <em > quantité: {{ request.quantity }}</em> 
              
            
            </div>
            <h2>{{request.status}} </h2>
            
        </li>
        
    </ul>
    
</div>      
