


<div class="card">
  <div class="container">
    <h4><b>{{ userSummary.userName }}</b></h4>
    <p>{{ userSummary.purse}} €</p>
  <button type="button" class="btn btn-outline-success" (click)="SetPlusAction()" >+</button>
  <button type="button" class="btn btn-outline-danger" (click)="SetMinusAction()">-</button>
  <button type="button" class="btn btn-dark" disabled>{{value}}€</button>
  </div>
</div>
<div class="card">
  <button type="button" class="btn btn-outline-primary" id="liveToastBtn" (click)="ExecuteUpdate()" *ngIf="!submitingInprgoress" >Submit</button>
  <button class="btn btn-primary" type="button" disabled *ngIf="submitingInprgoress"> <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ></span> Loading...</button>
</div>
