<section class="contact-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <a href="#"><img src="assets/img/BDE.png" alt="logo bde"></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum </p>
                        <div class="hr"></div>
                        <h6>Rue Ettore Bugatti, 67201 Eckbolsheim</h6>
                        <h6>+01 2345 6789 12<span>|</span>+01 2345 6789 12</h6>
                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href=""><i class="bi bi-facebook"></i></a></li>
                                <li><a class="hover-target" href=""><i class="bi bi-linkedin"></i></a></li>
                                <li><a class="hover-target" href=""><i class="bi bi-github"></i></a></li>
                                <li><a class="hover-target" href=""><i class="bi bi-behance"></i></a></li>
                                <li><a class="hover-target" href=""><i class="bi bi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
